#1st {color:red;}
#2nd {color:blue;}
#3rd {color:green;}
#4th {font-size: 30px;}
#5th {font-size:15px;}
#6th {text-align: center;}
#7th {}
#8th {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
#9th {font-size: x-large;
        color:orange
        }
.styledfont {font-family: monospace;}
#styledimage {border-style: solid;}